__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ruff_cache/
.venv/
build/
dist/

lightning_logs/
checkpoints/
wandb/

data/cache/
reference/

# IDE & OS
.idea/
.vscode/
.DS_Store

# Project specific
/tmp/

logs/
data/*
data/ch_temp/
fixtures/


docs/ref
configs/archive/
docs/ref/motif_clustering_results